body{

font-family:Arial;
background:#0a3d62;
color:white;
text-align:center;
margin:0;

}

header{

background:#074173;
padding:20px;
font-size:26px;

}

.container{

padding:20px;

}

.card{

background:#0c2461;
margin:15px;
padding:20px;
border-radius:10px;

}

table{

width:100%;
margin-top:10px;

}

th,td{

padding:8px;

}

button{

background:#38ada9;
border:none;
padding:10px 20px;
font-size:16px;
border-radius:5px;
cursor:pointer;

}

input{

padding:10px;
margin:5px;
border-radius:5px;
border:none;

}
